@main("Survey"){

<h1>Survey</h1>
<form>
    <label for="tbox">Textbox:</label><br>
    <input type="text" id="tbox" name="tbox">
    <br><br>

    <label>Checkbox:</label><br>
    <input type="checkbox" id="cboxred" name="cbox" value="Red">
    <label for="cboxred">Red</label>
    <input type="checkbox" id="cboxgreen" name="cbox" value="Green">
    <label for="cboxgreen">Green</label>
    <br><br>

    <label>Radio:</label><br>
    <input type="radio" id="rboxyes" name="rbox" value="yes">
    <label for="rboxyes">Yes</label>
    <input type="radio" id="rboxno" name="rbox" value="no">
    <label for="rboxno">No</label>
    <br><br>

    <label for="tarea">Text area:</label><br>
    <textarea id="tarea" name="tarea" rows="10" cols="50"></textarea>
    <br><br>

    <input type="submit" value="Submit">

</form>

}