@main("Survey"){

<h1>Survey</h1>
<form>
    <label for="tbox">Textbox:</label><br>
    <input type="text" id="tbox" name="tbox">
    <br><br>
    tr
    <label>Checkbox:</label><br>
    <input type="checkbox" id="cboxred" name="cbox" value="Red">
    <label for="cboxred">Red</label>
    <input type="checkbox" id="cboxgreen" name="cbox" value="Green">
    <label for="cboxgreen">Green</label>
    <br><br>

    <label>Radio:</label><br>
    <input type="radio" id="rboxyes" name="rbox" value="yes">
    <label for="rboxyes">Yes</label>
    <input type="radio" id="rboxno" name="rbox" value="no">
    <label for="rboxno">No</label>

</form>

}